/* Retained CSS for color styling to easily change colors if needed, in one place  */

.navbar {
    background-color: #015a23;
    
}

.button {
    background-color: rgb(9, 55, 116);
}

html,
body {
    background-color: rgb(63, 19, 59);
}
